<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

body {
font-family: 'Roboto', sans-serif;
background: url(Photos/Mclaren/pic1.jpg) no-repeat no-repeat center center fixed;
background-size: cover;
}

.navbarlogo {
	font-size: 50px;
	color: white;
}

.navbar{
	font-size: 25px;
	color: white;
	float: inherit;
	display: inline-block;
}

.nav-link {
	line-height: 1em;
    display: inline-block;
    text-decoration: none;
    margin-right: 42px;
}


.navbarlogo{
	font: 400 50px/1.3 'Arizonia', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.navbarlogo:hover{
	color: white;
}

.nav-link.dropdown-toggle{
	line-height: 1em;
    display: inline-block;
    text-decoration: none;
    margin-right: 100px;
		float:right;
}

.entry-content.center{
	color: white;
}

.entry-title{
	color: white;
}

.entry-content{
	color: white;
}


#footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}
